.Busqueda-Oferta {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-top: 100px;
}

.titulo-busqueda {
    font-size: 70px;
    color: #000;
    margin-bottom: 20px;
}

.titulo-busqueda span {
    color: #fff;
}

.Busqueda {
    width: 100%;
    height: 500%;
    min-width: 300px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search {
    width: 50%;
    height: 80%;
    min-width: 300px;
    margin: 20px auto;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-top: 75px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.search input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 18px;
    color: black;
}

::placeholder {
    color: black;
}

.search button img {
  width: 40%;
  min-width: 30px;
  transition: transform 0.3s ease; /* Agregar transición */
}

.search button:hover img {
  transform: scale(1.2); /* Aumentar el tamaño al pasar el cursor */
}

.search button {
  border: 0;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #5c6b73;
  cursor: pointer;
  overflow: hidden; /* Para ocultar la parte de la imagen que salga del botón */
}


.barra {
    width: 100%;
    height: 9%;
    min-width: 300px;
    position: fixed;
    transition: -4s all;
    z-index: 1;
}
