article {
    padding: 10px;
}

section {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.315);
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 40px;
    background-color: #778993;
    width: 20%;
    border-radius: 5px;
}

section.title {
    background-color: transparent;
    display: flex;
    justify-content: center;
}
table{
    display: flex;
    flex-direction: column;
}
tr{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 5px;
}
td{
    display: flex;
    justify-content: center;
}
thead {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}
