/* Empieza el responsive para los contenedores */
h1 {
    font-size: 40px;
    margin: 20px;
    margin-left: 60px;
    margin-top: 40px;
}

.contenedor {
    width: 90%;
    height: auto;
    margin: 20px;
    background-color: rgb(210, 214, 213);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
    border: 2px solid #dcd020;
}

.botones {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 0;
    gap: 10px;
}

.botonHorizontal {
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #dcd020;
    padding: 8px 16px;
    transition: transform 0.2s ease;
}

.boton1 {
    margin-left: 50px;
    margin-top: 0;
}

.botonUnico {
    font-size: 14px;
    background-color: rgb(3, 3, 113);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 10px;
}